version: '3'
services:
  passky-mysql:
    container_name: passky-mysql
    command: --default-authentication-plugin=mysql_native_password
    build:
      context: .
      dockerfile: ./mysql/Dockerfile
    restart: always
    # If you change environment values, make sure to change them in php/Settings.php file too. So API will be able to communicate with database.
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=passky
      - MYSQL_USER=passky
      - MYSQL_PASSWORD=uDWjSd8wB2HRBHei489o
    volumes:
      - /passky:/var/lib/mysql
    networks:
      - passky
  passky-php:
    container_name: passky-php
    build:
      context: .
      dockerfile: ./php/Dockerfile
    restart: always
    networks:
      - passky
    ports:
      - 8080:8080
    depends_on:
      - passky-mysql
networks:
  passky:
    driver: bridge
