body{
	background-color: #1f2937;
	text-align: center;
	color: lightgray;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1{
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 800;
	color: white;
}
h2{
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 500;
	color: white;
}
ul{
	text-align: left;
}
a{
	color: lightblue;
}
.center{
	margin: auto;
	width: 50%;
}
#warning{
	color: orange;
}
.green{
	color: green;
}
.orange{
	color: orange;
}
.red{
	color: red;
}
.visible{
	visibility: visible;
}
.hidden{
	visibility: hidden;
}